@model WebBanQuanAo.Models.CheckOutViewModel
<!-- Checkout Page Start -->
<div class="container-fluid bg-light overflow-hidden py-5">
    <div class="container py-5">
        <h1 class="mb-4 wow fadeInUp" data-wow-delay="0.1s">Chi tiết thanh toán</h1>
        <form asp-action="PlaceOrder" method="post">
            <div class="row g-5">
                <div class="col-md-12 col-lg-6 col-xl-6 wow fadeInUp" data-wow-delay="0.1s">

                    <div class="form-item0">
                        <label class="form-label my-3">Họ và tên<sup>*</sup></label>
                        <input type="text" name="FullName" class="form-control">
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-lg-7">
                            <div class="form-item w-100">
                                <label class="form-label my-3">Email<sup>*</sup></label>
                                <input type="text" name="Email" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-5">
                            <div class="form-item w-100">
                                <label class="form-label my-3">Số điện thoại<sup>*</sup></label>
                                <input type="text" name="PhoneNumber" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="form-item">
                        <label class="form-label my-3">Địa chỉ <sup>*</sup></label>
                        <input type="text" name="Address" class="form-control">
                    </div>
                    <div class="form-check my-3">
                        <input type="checkbox" class="form-check-input" id="Account-1" name="Accounts" value="Accounts">
                        <label class="form-check-label" for="Account-1">Create an account?</label>
                    </div>
                    <hr>
                    <div class="form-item">
                        <label class="form-label my-3">Ghi chú</label>
                        <textarea name="Note" class="form-control" spellcheck="false" cols="30" rows="11" placeholder="Nhập ghi chú"></textarea>
                    </div>
                </div>
                <div class="col-md-12 col-lg-6 col-xl-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr class="text-center">
                                    <th scope="col" class="text-start">Tên sản phẩm</th>
                                    <th scope="col">Màu sắc / Size</th>
                                    <th scope="col">Giá tiền</th>
                                    <th scope="col">Số lượng</th>
                                    <th scope="col">Tổng tiền</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Cart.Items)
                                {
                                    <tr class="text-center">
                                        <th scope="row" class="text-start py-4">
                                            @item.ProductName
                                        </th>
                                        <td class="py-4">
                                            @item.ColorName / @item.SizeName
                                        </td>
                                        <td class="py-4">
                                            @item.Price.ToString("N0") ₫
                                        </td>
                                        <td class="py-4 text-center">
                                            @item.Quantity
                                        </td>
                                        <td class="py-4">
                                            @((item.Price * item.Quantity).ToString("N0")) ₫
                                        </td>
                                    </tr>
                                }
                                <tr>
                                    <th scope="row">
                                    </th>
                                    <td colspan="2" class="py-4">
                                        <p class="mb-0 text-dark py-2">Tổng tiền sản phẩm</p>
                                    </td>
                                    <td colspan="3" class="py-4">
                                        <div class="py-2 text-center border-bottom border-top">
                                            <p class="mb-0 text-dark">
                                                @Model.Cart.SubTotal.ToString("N0") ₫
                                            </p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                    </th>
                                    <td colspan="2" class="py-1">
                                        <p class="mb-0 text-dark py-4">Tiền vận chuyển</p>
                                    </td>
                                    <td colspan="3" class="py-4">
                                        <div class="py-2 text-center border-bottom border-top">
                                        @if (Model.Cart.SubTotal >= 500000)
                                        {
                                            <p class="mb-0 text-dark">
                                                Miễn phí tiền vận chuyển
                                            </p>
                                        }
                                        else
                                        {
                                            <p class="mb-0 text-dark">
                                                @Model.Cart.ShippingFee.ToString("N0") ₫
                                            </p>
                                        }
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                    </th>
                                    <td colspan="2" class="py-4">
                                        <p class="mb-0 text-dark text-uppercase py-2">Tổng đơn hàng</p>
                                    </td>
                                    <td colspan="3" class="py-4">
                                        <div class="py-2 text-center border-bottom border-top">
                                            <p class="mb-0 text-dark">@Model.Cart.Total.ToString("N0") đ</p>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row g-4 text-center align-items-center justify-content-center border-bottom py-2">
                        <div class="col-12">
                            <div class="form-check text-start my-2">
                                <input type="checkbox" class="form-check-input bg-primary border-0" id="Delivery-1" name="Delivery" value="Delivery">
                                <label class="form-check-label" for="Delivery-1">Thanh toán khi nhận hàng</label>
                            </div>
                        </div>
                    </div>
                    <div class="row g-4 text-center align-items-center justify-content-center pt-4">
                        <label class="form-check-label" for="Delivery-1">Miễn phí vận chuyển cho đơn hàng có giá trị &#8805 500.000đ</label>
                        <button type="submit"
                                class="btn btn-primary border-secondary py-3 px-4 text-uppercase w-100 text-primary">
                            Đặt Hàng
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Checkout Page End -->