@using Data.DTO.Product
@model PagedResult<Data.DTO.Product.ProductListDTO>

<div class="row g-4">
    @foreach (var item in Model.Items)
    {
        <div class="col-md-3">
            <div class="border p-2 h-100">
                <img src="@item.Files.FirstOrDefault()" class="img-fluid" />

                <div class="mt-2">
                    <small>@item.TypeName</small>
                    <h6>@item.Name</h6>
                    <strong>@item.Price.ToString("N0") ₫</strong>
                </div>
            </div>
        </div>
    }
</div>

@if (Model.TotalPages > 1)
{
    <div class="pagination d-flex justify-content-center mt-4">
        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            <a href="#"
               class="page-link @(i == Model.Page ? "active" : "")"
               data-page="@i">@i</a>
        }
    </div>
}
