@using Data.DTO
@using Data.DTO.Product
@model IEnumerable<ProductListDTO>
@{
    var categories = ViewBag.Categories as List<CategoryDTO>;
    var colors = ViewBag.Colors as List<CategoryDTO>;
}
<!-- Shop Page Start -->
<div class="container-fluid shop py-5">
    <div class="container py-5">
        <div class="row g-4">
            <div class="col-lg-3 wow fadeInUp" data-wow-delay="0.1s">
                <div class="product-categories mb-4">
                    <h4>Danh mục sản phẩm</h4>
                    <ul class="list-unstyled">
                        @* @foreach (var item in Model)
                        {
                            <li>
                                <div class="categories-item">
                                    <a href="#" class="text-dark"><i class="fas fa-list text-secondary me-2"></i>@item.TypeName</a>
                                    <span>(3)</span>
                                </div>
                            </li>
                        } *@
                        @foreach (var item in categories)
                        {
                            <li>
                                <div class="categories-item">
                                    <a href="#"
                                       class="text-dark category-filter"
                                       data-typeid="@item.Id">
                                        <i class="fas fa-list text-secondary me-2"></i>
                                        @item.Name
                                    </a>
                                    <span>(@item.ProductCount)</span>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
                <div class="price mb-4">
                    <h4 class="mb-2">Giá</h4>
                    <input type="range" class="form-range w-100" id="rangeInput" name="rangeInput" min="0" max="3000000" value="0" oninput="amount.value=rangeInput.value">
                    <output id="amount" name="amount" min-velue="0" max-value="3000000" for="rangeInput">0 đ</output>
                    <div class=""></div>
                </div>
                <div class="product-color mb-3">
                    <h4>Lọc theo màu sắc</h4>
                    @foreach (var color in ViewBag.Colors)
                    {
                        <div class="categories-item" style="display: flex">
                            <input type="checkbox"
                                   id="color-@color.Id"
                                   class="color-filter"
                                   value="@color.Id" />
                            &nbsp;
                            <label for="color-@color.Id"
                                   class="text-dark d-flex align-items-center w-100"
                                   style="cursor: pointer;">

                                <i class="fas fa-palette text-secondary me-2"></i>
                                <span class="flex-grow-1">@color.Name</span>
                                <span>(@color.ProductCount)</span>
                            </label>
                        </div>

                    }
                </div>
                <div class="additional-product mb-4">
                    <h4>Additional Products</h4>
                    <div class="additional-product-item">
                        <input type="radio" class="me-2" id="Categories-1" name="Categories-1" value="Beverages">
                        <label for="Categories-1" class="text-dark"> Accessories</label>
                    </div>
                    <div class="additional-product-item">
                        <input type="radio" class="me-2" id="Categories-2" name="Categories-1" value="Beverages">
                        <label for="Categories-2" class="text-dark"> Electronics & Computer</label>
                    </div>
                    <div class="additional-product-item">
                        <input type="radio" class="me-2" id="Categories-3" name="Categories-1" value="Beverages">
                        <label for="Categories-3" class="text-dark"> Laptops & Desktops</label>
                    </div>
                    <div class="additional-product-item">
                        <input type="radio" class="me-2" id="Categories-4" name="Categories-1" value="Beverages">
                        <label for="Categories-4" class="text-dark"> Mobiles & Tablets</label>
                    </div>
                    <div class="additional-product-item">
                        <input type="radio" class="me-2" id="Categories-5" name="Categories-1" value="Beverages">
                        <label for="Categories-5" class="text-dark"> SmartPhone & Smart TV</label>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 wow fadeInUp" data-wow-delay="0.1s">
                <div class="rounded mb-4 position-relative">
                    <img src="~/img/product-banner-3.jpg" class="img-fluid rounded w-100" style="height: 250px;" alt="Image">
                    <div class="position-absolute rounded d-flex flex-column align-items-center justify-content-center text-center" style="width: 100%; height: 250px; top: 0; left: 0; background: rgba(242, 139, 0, 0.3);">
                        <h4 class="display-5 text-primary">SALE</h4>
                        <h3 class="display-4 text-white mb-4">Get UP To 50% Off</h3>
                        <a href="#" class="btn btn-primary rounded-pill">Shop Now</a>
                    </div>
                </div>
                <div class="row g-4">
                    <div class="col-xl-7">
                        <div class="input-group w-100 mx-auto d-flex">
                            <input type="search" id="searchKeyword" class="form-control p-3" placeholder="keywords" aria-describedby="search-icon-1">
                            <span id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></span>
                        </div>
                    </div>
                    <div class="col-xl-3 text-end">
                        <div class="bg-light ps-3 py-3 rounded d-flex justify-content-between">
                            <label for="electronics">Sắp xếp:</label>
                            <select id="sortSelect" class="border-0 form-select-sm bg-light me-3">
                                <option value="">Mặc định</option>
                                <option value="newest">Mới</option>
                                <option value="price_asc">Giá tăng dần</option>
                                <option value="price_desc">Giá giảm dần</option>
                                <option value="name_asc">Theo tên A-Z</option>
                                <option value="name_desc">Theo tên Z-A</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4 col-xl-2">
                        <ul class="nav nav-pills d-inline-flex text-center py-2 px-2 rounded bg-light mb-4">
                            <li class="nav-item me-4">
                                <a class="bg-light" data-bs-toggle="pill" href="#tab-5">
                                    <i class="fas fa-th fa-3x text-primary"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="bg-light" data-bs-toggle="pill" href="#tab-6">
                                    <i class="fas fa-bars fa-3x text-primary"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="product-container" class="mt-4">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Shop Page End -->

@section Scripts {
    <script>
        let page = 1;
        let pageSize = 8;                                                             
        let typeId = null;
        let maxPrice = null;
        let keyword = '';
        let sort = '';
        let colorIds = [];
        let priceTimer;

        $(document).ready(function () {
            loadProducts();
        });

                function loadProducts() {
            $.ajax({
                url: '/Product/LoadProducts',
                type: 'GET',
                data: {
                    page: page,
                    pageSize: pageSize,
                    typeId: typeId,
                    maxPrice: maxPrice,
                    keyword: keyword,
                    sort: sort,
                    colorIds: colorIds
                },
                traditional: true,
                success: function (html) {
                    $('#product-container').html(html);
                }
            });
        }


        $(document).on('click', '.page-link', function (e) {
            e.preventDefault();
            page = $(this).data('page');
            loadProducts();
        });

        $('.category-filter').click(function () {
            typeId = $(this).data('typeid');
            page = 1;
            loadProducts();
        });

        $('#rangeInput').on('input', function () {
            clearTimeout(priceTimer);

            maxPrice = parseInt(this.value);
            $('#amount').text(maxPrice);

            priceTimer = setTimeout(() => {
                page = 1;
                loadProducts();
            }, 300);
        });


        $('#searchKeyword').on('keyup', function () {
            keyword = $(this).val();
            page = 1;
            loadProducts();
        });

        $('#sortSelect').change(function () {
            sort = $(this).val();
            page = 1;
            loadProducts();
        });

        $(document).on('change', '.color-filter', function () {
            colorIds = $('.color-filter:checked')
                .map(function () {
                    return parseInt($(this).val());
                }).get();

            page = 1;
            loadProducts();
        });



    </script>
}
