@using Data.DTO
@using Data.DTO.Product
@model PagedResult<ProductListDTO>

<div class="tab-content">
    <div id="tab-5" class="tab-pane fade show p-0 active">
        <div class="row g-4 product">
            @foreach (var item in Model.Items)
            {
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div class="product-item rounded wow fadeInUp" data-wow-delay="0.1s">
                        <a asp-controller="Product"
                           asp-action="Detail"
                           asp-route-id="@item.Id"
                           class="text-decoration-none text-dark">

                            <div class="product-item-inner border rounded">
                                <div class="product-item-inner-item">
                                    @if (item.Files?.Count > 0)
                                    {
                                        <img src="@item.Files.FirstOrDefault()"
                                             class="product-img img-fluid w-100 rounded-top"
                                             alt="">
                                    }

                                    <div class="product-new">New</div>

                                    <div class="product-details">
                                        <span><i class="fa fa-eye fa-1x"></i></span>
                                    </div>
                                </div>
                                <div class="text-center rounded-bottom p-4">
                                    <span class="d-block mb-2">@item.TypeName</span>
                                    <span class="d-block h4">@item.Name</span>

                                    <span class="text-primary fs-5">
                                        @item.Price.ToString("N0") ₫
                                    </span>
                                </div>
                            </div>
                        </a>

                        <div class="product-item-add border border-top-0 rounded-bottom text-center p-4 pt-0">
                            <a href="#" class="btn btn-primary border-secondary rounded-pill py-2 px-4 mb-4"><i class="fas fa-shopping-cart me-2"></i> Add To Cart</a>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex">
                                    <i class="fas fa-star text-primary"></i>
                                    <i class="fas fa-star text-primary"></i>
                                    <i class="fas fa-star text-primary"></i>
                                    <i class="fas fa-star text-primary"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                                <div class="d-flex">
                                    <a href="#" class="text-primary d-flex align-items-center justify-content-center me-3"><span class="rounded-circle btn-sm-square border"><i class="fas fa-random"></i></span></a>
                                    <a href="#" class="text-primary d-flex align-items-center justify-content-center me-0"><span class="rounded-circle btn-sm-square border"><i class="fas fa-heart"></i></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <div class="col-12 wow fadeInUp" data-wow-delay="0.1s">
                <div class="pagination d-flex justify-content-center mt-5">
                    <a href="#" class="rounded">&laquo;</a>
                    @for (int i = 1; i <= Model.TotalPages; i++)
                    {
                        <a href="#"
                           class="page-link @(i == Model.Page ? "active" : "")"
                           data-page="@i">@i</a>
                    }
                    <a href="#" class="rounded">&raquo;</a>
                </div>
            </div>
        </div>
    </div>
    <div id="tab-6" class="products tab-pane fade show p-0">
        <div class="row g-4 products-mini">
            @foreach (var item in Model.Items)
            {
                <div class="col-lg-6">
                <div class="products-mini-item border">
                    <div class="row g-0">
                        <div class="col-5">
                            <div class="products-mini-img border-end h-100">
                                    @if (item.Files?.Count > 0)
                                    {
                                        <img src="@item.Files?.FirstOrDefault()" class="img-fluid w-100 h-100" alt="">
                                    }
                                <div class="products-mini-icon rounded-circle bg-primary">
                                    <a href="#"><i class="fa fa-eye fa-1x text-white"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-7">
                            <div class="products-mini-content p-3">
                                <a href="#" class="d-block mb-2">@item.TypeName</a>
                                <a href="#" class="d-block h4">@item.Name</a>
                                @* <del class="me-2 fs-5">$1,250.00</del> *@
                                <span class="text-primary fs-5">@item.Price</span>
                            </div>
                        </div>
                    </div>
                    <div class="products-mini-add border p-3">
                        <a href="#" class="btn btn-primary border-secondary rounded-pill py-2 px-4"><i class="fas fa-shopping-cart me-2"></i> Add To Cart</a>
                        <div class="d-flex">
                            <a href="#" class="text-primary d-flex align-items-center justify-content-center me-3"><span class="rounded-circle btn-sm-square border"><i class="fas fa-random"></i></a>
                            <a href="#" class="text-primary d-flex align-items-center justify-content-center me-0"><span class="rounded-circle btn-sm-square border"><i class="fas fa-heart"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            }
            <div class="col-12 wow fadeInUp" data-wow-delay="0.1s">
                <div class="pagination d-flex justify-content-center mt-5">
                    <a href="#" class="rounded">&laquo;</a>
                    @for (int i = 1; i <= Model.TotalPages; i++)
                    {
                        <a href="#"
                           class="page-link @(i == Model.Page ? "active" : "")"
                           data-page="@i">@i</a>
                    }
                    <a href="#" class="rounded">&raquo;</a>
                </div>
            </div>
        </div>
    </div>
</div>
